#page-header {
  background: transparent !important;
}
#page-header.post-bg,
#page-header.not-home-page {
  height: 280px !important;
}
#page-header #post-info {
  bottom: 40px !important;
  text-align: center;
}
#page-header #page-site-info {
  top: 140px !important;
}
@media screen and (max-width: 768px) {
  #page-header.not-home-page {
    height: 200px !important;
  }
  #page-header #post-info {
    bottom: 10px !important;
  }
  #page-header #page-site-info {
    top: 100px !important;
  }
}
.top-img {
  position: relative;
  height: 56vw;
  max-height: 500px;
  min-height: 280px;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.top-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .top-img::before {
    background-size: contain;
  }
  .top-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.3) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.3) 100%);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.3) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(0deg, rgba(0,0,0,0.3) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(0deg, rgba(0,0,0,0.3) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.3) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.3) 100%);
    z-index: 2;
    pointer-events: none;
  }
  [data-theme='dark'] .top-img::after {
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.6) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.6) 100%);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.6) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(0deg, rgba(0,0,0,0.6) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(0deg, rgba(0,0,0,0.6) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.6) 100%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .top-img::before {
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -36px -14px 36px;
  }
  .top-img::before {
    display: none;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
[data-theme='dark'] #footer:before {
  background-color: rgba(0,0,0,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
}
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: var(--light-grey);
}
