.top-img {
  height: 56vw;
  max-height: 500px;
  min-height: 280px;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 1200px) {
  .top-img {
    background-size: contain;
    background-color: #f5f5f5;
  }
  [data-theme='dark'] .top-img {
    background-color: #1a1a1a;
  }
}
@media screen and (min-width: 1600px) {
  .top-img {
    background-size: 80% auto;
    background-color: transparent;
  }
  [data-theme='dark'] .top-img {
    background-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -36px -14px 36px;
    background-size: cover;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
